# Weights and large models
weights/
*.pth
*.pt
*.onnx

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Data and Dataset splits
data

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Logs
*.log
logs/

# dino REPO
dinov3


results
